.footer__adress {
    display: block;
  
    font-style: normal;
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  
    margin-top: 20px;
  }
  
  .footer__contact {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    margin-top: 9px;
    transition:color  250ms var(--timing-function);
  
    &:hover,
  &:focus {
    color: var(--style-color);
  }
  }
  
  .footer__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
    margin-top: 0;
  }