.sociallinks__list {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .sociallinks__item:not(:last-child) {
    margin-right: 10px;
  }
  
  .sociallinks__item {
    border-radius: 50%;
  }
  
  .sociallinks__link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px; 
    border-radius: 50%;
    background-color:rgba(	255,255,255, 0.1);
    transition:background-color  250ms var(--timing-function);

    &:hover, 
    &:focus{
      background-color: var(--style-color); 
      box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    }
  }
  
  .sociallinks__icon {
   width: 20px;
   height: 20px;
    fill: var(--white-color); 
  }