
.form{
    position: relative;
    display: flex;
    flex-direction: column;
   
    margin-left: auto;
    margin-right: auto;
   
  }
  
  .form__title{
    font-family:inherit;
  
  font-weight: 700;
  
  font-size: 20px;
  line-height:23.44px;
  
  text-align:center;
  color:#212121;
  
  letter-spacing: 3%;
  margin: 0;
  margin-bottom: 12px;
  }
  
  .form__field{
    position: relative;
  
    display: flex;
    flex-direction: column;
  
    font-family:inherit;
  
    font-weight: 400;
    
    font-size: 12px;
    line-height:14.06px;
    letter-spacing: 1%;
    
    color: #757575;
  
    margin-bottom: 10px;
  }
  
  .form__input{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    margin: 0;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 40px; 
  }
  
  .form__label{
    display: block;
    font-family:Roboto ;
  
    font-weight: 400;
    
    font-size: 12px;
    line-height:14.06px;
    letter-spacing: 1%;
    
    color: rgba(117, 117, 117, 1);
    
    margin-bottom: 4px;
    text-align: left;
  }
  
  .form__icon{
    position: absolute;
    width: 18px;
    height: 18px;
  
    top: 65%;
    left: 10px;
  
    display: inline-block;
  
    transform: translateY(-50%);
  
  }
  
  .form__input:focus{
    outline: 1px solid var(--style-color);
  }
  
  .form__input:focus + .form__icon{
    fill:var(--style-color);
  
  }
  
  .form-field textarea{
    padding: 12px 16px;
    resize: none;
    height: 120px;
    margin-bottom: 20px;
    color:  rgba(117, 117, 117, 1);
  }
  
  .policy{
    display: flex;
  
   margin-right: 7px;
   margin-bottom: 30px;
  }
  
  .policy a{
    color: var(--style-color);
    text-decoration: underline;
  }
  
  .policy label{
    display: block;
    margin-right: 5px;
  }
  
  .form__btn {
    @extend %button;

    margin-left: auto;
    margin-right: auto;
  }
  
  .form-input:focus ~ .icon{
    fill: bisque;
  }
  
  .close-button{
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
  }
  
  .checkbox-span{
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 4px;
  }
  
  .policy-checkbox:checked + .checkbox-span
  {
  background-color: var(--style-color);
    background-image: url(/images/checked.svg);
    background-size: contain;
    background-origin: border-box;
     
  }
  
  .policy-checkbox:focus + .checkbox-span{
  border: 1px solid  var(--style-color);
  }
  
  .policy-checkbox{
    appearance: none;
    position: absolute;
  }