.overlay {
    display: inline-block;
    padding: 63px 24px;
    height: 294px;
    width: 370px;
    background-color: var(--style-color);
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    opacity: 0;
    color: var(--white-color);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }